<html>
<head>
  <script type="text/javascript">
    var number = window.location.search;
  </script>
</head>

<body>

  <label for="">apj</label> <br>
  {{apj}} <br><br>

  <label for="">  user_id </label> <br>
  {{  user_id }} <br><br>



  <label for="">user.id from template DTL</label> <br>
  {{user.id}} <br><br>

  <label for="">current_index</label> <br>
  {{current_index}} <br><br>
  <h3 style=" color: black; font-size: larger;font-family: 'Times New Roman', Times, serif;font-weight: bolder;position: relative;left: 50px; top:-140px;"> Hello Mr. {{user.username}} </h3>
  <button style="position: relative; left: 1350px; top:-170px; "> <a class="nav-link" href="{% url 'logout' %}">Logout</a></button>


  <label for="">current_usr_list_filter</label> <br>
  {{current_usr_list_filter}} <br><br>


  <label for="">current_user_index</label> <br>
  {{current_user_index}} <br><br>


  


  

  {% comment %} <label for="">current_user_index</label> <br>
  {{current_user_index}} <br><br>

  <label for="">app1</label><br>
  {{app1}} <br><br>


  <label for="">app2</label><br>
  {{app2}} <br><br>

  <label for="">app3</label><br>
  {{app3}} <br><br>

  <label for="">app4</label><br>
  {{app4}} <br><br>

  <label for="">app5</label><br>
  {{app5}} <br><br>

  <label for="">app6</label><br>
  {{app6}} <br><br>

  <label for="">app7</label><br>
  {{app7}} <br><br>

  <label for="">app8</label><br>
  {{app8}} <br><br>


  {{user_id}}  {% endcomment %}

 



{% comment %} {% for i in obj2 %}

    {% if user.username == 'i.user_name' and  'i.app_1' %}
    <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
    <a href="/ds_one" style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
    {% else %}
    <label style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Request Access</label>
    {% endif %}

    <br>

    {% if user.username == 'i.user_name' and  'i.app_2' %}
    <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
    <a href="/ds_one" style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
    {% else %}
    <label style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Request Access</label>
    {% endif %}

    <br>

    {% if user.username == 'i.user_name' and  'i.app_3' %}
    <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
    <a href="/ds_one" style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
    {% else %}
    <label style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Request Access</label>
    {% endif %}

    <br>

    {% if user.username == 'i.user_name' and  'i.app_4' %}
    <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
    <a href="/ds_one" style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
    {% else %}
    <label style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Request Access</label>
    {% endif %}

    <br>

    {% if user.username == 'i.user_name' and  'i.app_5' %}
    <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
    <a href="/ds_one" style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
    {% else %}
    <label style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Request Access</label>
    {% endif %}

    <br>

    {% if user.username == 'i.user_name' and 'i.app_6' %}
    <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
    <a href="/ds_one" style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
    {% else %}
    <label style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Request Access</label>
    {% endif %}

    <br>

    
    
    {% endfor %}  {% endcomment %}


      

    
</body>
</html>




