<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
        html * {            
            font-family: Nunito, sans-serif;
          }
        

        .animate
        {
            transition: all 0.1s;
            -webkit-transition: all 0.1s;
        }

        .action-button
        {
            position: relative;
            padding: 8px 25px;
            left: 1380px; top:-270px;
            border-radius: 8px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            color:white;
            text-decoration: none;	
        }

        

        .red
        {
            background-color:rgb(72, 72, 72);
            
            text-shadow: 0px -2px white;
        }

        

        .action-button:active
        {
            transform: translate(0px,5px);
        -webkit-transform: translate(0px,5px);
            border-bottom: 1px solid;
        }

        #container {
            margin: auto auto;
            width: 1600px;
            height: 700px;
            background-color:white;
            position: relative;
            top:-8px;
        }

        /* button signup style*/

            #button_signup{
                background: none;
                border: none;
                padding: 0;
                /*optional*/
                font-family: arial, sans-serif;
                /*input has OS specific font-family*/
                color:black;
                text-decoration: none;
                font-size: 21px;
                font-weight: bolder;
                
                cursor: pointer;
                position: relative;
                top:-15px;
                left:88px;
                }

        /*button_signup style ends.....*/
        
    </style>
    </style>
</head>

<body style="background-color:white">
{% if user.is_authenticated %}
    

    
   

    <div id="container"> <!-- main -->

        <div class="header block">

            <div style="position: relative; left: -10px;top:-10px">
                <img src="{% static 'logo.png' %}" alt="architecture" >
            </div>
            <div class="container mt-2" style="position: relative; top:-110px;left:170px">
                <div id="title_block" style="background-color: rgb(72, 72, 72); height: 116px;width: 1420px;position: relative; top:-20px;">
                    <br>
                <h3 class="mb-3" style="position: relative; left: 300px; color:white; font-size: 45px;top:-30px;font-family: Verdana, Geneva, Tahoma, sans-serif">GTC APPLICATIONS</h3>
                <!-- <h3 class="mb-3" style="position: relative; left: 300px; color:white; font-size: 30px;top:-62px;font-family:sans-serif">Click on a tool to use or request access</h3> -->
            </div> 

        </div>

        

        <h3 style=" color: black; font-size: larger;font-family: 'Times New Roman', Times, serif;font-weight: bolder;position: relative;left: 50px; top:-140px;"> Hello Mr. {{user.username}} </h3>    
    
        <!-- <button style="position: relative; left: 1350px; top:-170px; "> <a class="nav-link" href="{% url 'logout' %}">Logout</a></button> -->
        
        <a href="{% url 'logout' %}" class="action-button shadow animate red">Logout</a>


        <div id="1" style="border:1px solid black;height:260px;width:300px;position: relative;left:230px;top:-190px"><!-- 1st block for accessing  ARADISS app which holds heatmaps and barchart etc -->

            <label style="position:relative;left:105px;font-weight: bold;font-size: 19px;">ARADISS</label><br>
            <label style="position:relative;left:65px;font-size: 18px;">Fault Management in</label><br>
            <label style="position:relative;left:62px;font-size: 18px;">Autonomous Systems</label><br>
            <img src="{% static 'Picture1.jpg' %}" alt="architecture" style="height:160px;width:240px;position:relative;left:30px;" ><br>

            {% if user.id == current_user_index and  app1 %}
            <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
            <a href="/ds_one" style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
            {% else %}
            <form action="{% url 'signup_trac' %}">
            <input type="number" name="id" id="txt" value='1' hidden><br>
            <input type="submit" value="Learn More" id="button_signup" onclick="getTxt() " />
            </form>
            {% endif %}

            


        </div><!-- 1st block ends here -->

        <!-- 2 -->
        <div id="2" style="border:1px solid black;height:260px;width:300px;position: relative;left:560px;top:-453px;"><!-- 2 -->

            <label style="position:relative;left:55px;font-weight: bold;font-size: 19px;">Seismic Discriminator</label><br>
            <label style="position:relative;left:15px;font-size: 18px;">Seismic events discriminator using </label><br>
            <label style="position:relative;left:85px;font-size: 18px;">AI/ML techniques</label><br>
            <img src="{% static 'app2.png' %}" alt="architecture" style="height:160px;width:320px;position:relative;left:-20px;" ><br>

            {% if user.id == current_user_index and  app2 %}
            <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access1</a> -->
            <a href="/ds_twoindex2" style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
            {% else %}
            
            <form action="{% url 'signup_trac' %}">
            <input type="number" name="id" id="txt2" value='2' hidden><br>
            <input type="submit" value="Learn More" id="button_signup" onclick="getTxt2() " />
            </form>
            {% endif %}

        </div><!-- 2 -->

        <div id="3" style="border:1px solid black;height:260px;width:300px;position: relative;left:890px;top:-715px;"><!-- 3 -->

            <label style="position:relative;left:80px;font-weight: bold;font-size: 19px;">Seismic Locator</label><br>
            <label style="position:relative;left:22px;font-size: 18px;">Seismic events association and</label><br>
            <label style="position:relative;left:25px;font-size: 18px;">locator using AI/ML techniques</label><br>
            <img src="{% static 'app3.png' %}" alt="architecture" style="height:160px;width:280px;position:relative;left:10px;" ><br>

            {% if user.id == current_user_index and  app3 %}
            <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
            <a href="/ds_threefuntion_line" style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
            {% else %}
            
            <form action="{% url 'signup_trac' %}">
            <input type="number" name="id" id="txt3" value='3' hidden><br>
            <input type="submit" value="Learn More" id="button_signup" onclick="getTxt3() " />
            </form>
            {% endif %}

        </div><!-- 3 -->

        <div id="4" style="border:1px solid black;height:260px;width:300px;position: relative;left:230px;top:-685px"><!-- 4 -->

            <label style="position:relative;left:86px;font-weight: bold;font-size: 19px;">ISHM for WRS</label><br>
            <label style="position:relative;left:52px;font-size: 18px;">Water Recycling System</label><br>
            <label style="position:relative;left:67px;font-size: 18px;">Health Management</label><br>
            <img src="{% static 'wrs.jpg' %}" alt="architecture" style="height:160px;width:280px;position:relative;left:10px;top: 5px;" ><br>

            {% if user.id == current_user_index and  app4 %}
            <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
            <a href="/chart" style="position:relative;left:85px;top:2px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
            {% else %}
            
            <form action="{% url 'signup_trac' %}">
            <input type="number" name="id" id="txt4" value='4' hidden><br>
            <input type="submit" value="Learn More" id="button_signup" onclick="getTxt4() " />
            </form>
            {% endif %}

        </div><!-- 4 -->

        <div id="5" style="border:1px solid black;height:260px;width:300px;position: relative;left:560px;top:-949px;"><!-- 5 -->

            <label style="position:relative;left:96px;font-weight: bold;font-size: 19px;">CaskADES</label><br>
            <label style="position:relative;left:27px;font-size: 18px;">Steel cannister long term stress</label><br>
            <label style="position:relative;left:40px;font-size: 18px;">corrosion cracking analysis</label><br>
            <img src="{% static 'app5_.png' %}" alt="architecture" style="height:160px;width:280px;position:relative;left:10px;top: 5px;" ><br>

            {% if user.id == current_user_index and  app5 %}
            <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
            <a href="/chart" style="position:relative;left:85px;top:-14px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
            {% else %}
            <!-- <label style="position:relative;left:85px;top:-14px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Request Access</label> -->
            <form action="{% url 'signup_trac' %}">
            <input type="number" name="id" id="txt5" value='5' hidden><br>
            <input type="submit" value="Learn More" id="button_signup" onclick="getTxt5() " />
            </form>            
            {% endif %}

        </div><!-- 5 -->

        <div id="6" style="border:1px solid black;height:260px;width:300px;position: relative;left:890px;top:-1212px;"><!-- 6 -->

            <label style="position:relative;left:116px;font-weight: bold;font-size: 19px;">TRAIT</label><br>
            <label style="position:relative;left:27px;font-size: 18px;">Attrition prediction and training</label><br>
            <label style="position:relative;left:30px;font-size: 18px;">recommender for pilot training</label><br>
            <img src="{% static 'app6_.png' %}" alt="architecture" style="height:160px;width:280px;position:relative;left:10px;" ><br>

            {% if user.id == current_user_index and  app6 %}
            <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
            <a href="/chart" style="position:relative;left:85px;top:-14px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
            {% else %}
            
            <form action="{% url 'signup_trac' %}">
            <input type="number" name="id" id="txt6" value='6' hidden><br>
            <input type="submit" value="Learn More" id="button_signup" onclick="getTxt6() " />
            </form>
            {% endif %}

        </div><!-- 6 -->


        <div id="7" style="border:1px solid black;height:260px;width:300px;position: relative;left:230px;top:-1182px;"><!-- 7 -->

            <label style="position:relative;left:106px;font-weight: bold;font-size: 19px;">TRACAIR</label><br>
            <label style="position:relative;left:37px;font-size: 18px;">Aircraft trajectory analysis to</label><br>
            <label style="position:relative;left:70px;font-size: 18px;">predict safety risks</label><br>
            <img src="{% static 'app4.png' %}" alt="architecture" style="height:160px;width:280px;position:relative;left:10px;" ><br>

            {% if user.id == current_user_index and  app7 %}
            <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
            <a href="/chart" style="position:relative;left:85px;top:-14px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
            {% else %}
            
            <form action="{% url 'signup_trac' %}">
            <input type="number" name="id" id="txt7" value='7' hidden><br>
            <input type="submit" value="Learn More" id="button_signup" onclick="getTxt7() " />
            </form> 
            {% endif %}

        </div><!-- 7 -->

        <div id="8" style="border:1px solid black;height:260px;width:300px;position: relative;left:560px;top:-1442px;"><!-- 8 -->

            <label style="position:relative;left:10px;font-weight: bold;font-size: 17px;">Facility Management Through MBX</label><br>
            <label style="position:relative;left:9px;font-size: 15px;">Improved facility operations through model</label><br>
            <label style="position:relative;left:70px;font-size: 15px;">based enterprise tools</label><br>
            <img src="{% static 'Facility Management.jpg' %}" alt="architecture" style="height:160px;width:280px;position:relative;left:10px;" ><br>

            {% if user.id == current_user_index and  app7 %}
            <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
            <a href="/chart" style="position:relative;left:85px;top:-14px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
            {% else %}
            <!-- <label style="position:relative;left:85px;top:-14px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Request Access</label> -->
            <form action="{% url 'signup_trac' %}">
            <input type="number" name="id" id="txt8" value='8' hidden><br>
            <input type="submit" value="Learn More" id="button_signup" onclick="getTxt8() " />
            </form>
            {% endif %}

        </div><!-- 8 -->

        <div id="9" style="border:1px solid black;height:260px;width:300px;position: relative;left:890px;top:-1704px;"><!-- 9 -->

            <label style="position:relative;left:36px;font-weight: bold;font-size: 19px;">Radiation Threat Locater</label><br>
            <label style="position:relative;left:10px;font-size: 18px;">Identification and locating radiation</label><br>
            <label style="position:relative;left:30px;font-size: 18px;">threats in urban environments</label><br>
            <img src="{% static 'Radiation Threat Locater.png' %}" alt="architecture" style="height:160px;width:280px;position:relative;left:10px;" ><br>

            {% if user.id == current_user_index and  app7 %}
            <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
            <a href="/chart" style="position:relative;left:85px;top:-14px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
            {% else %}
            <!-- <label style="position:relative;left:85px;top:-14px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Request Access</label> -->
            <form action="{% url 'signup_trac' %}">
            <input type="number" name="id" id="txt9" value='9' hidden><br>
            <input type="submit" value="Learn More" id="button_signup" onclick="getTxt9() " />
            </form> 
            {% endif %}

        </div><!-- 9 -->

        <div id="10" style="border:1px solid black;height:260px;width:300px;position: relative;left:230px;top:-1682px;"><!-- 10 -->

            <label style="position:relative;left:14px;font-weight: bold;font-size: 19px;">Automotive Intrusion Detector</label><br>
            <label style="position:relative;left:7px;font-size: 15px;">Detection and identification of cybersecurity</label><br>
            <label style="position:relative;left:70px;font-size: 15px;">threats in automobiles</label><br>
            <img src="{% static 'Auto Intrusion Detector.jpg' %}" alt="architecture" style="height:160px;width:280px;position:relative;left:10px;" ><br>

            {% if user.id == current_user_index and  app7 %}
            <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
            <a href="/chart" style="position:relative;left:85px;top:-14px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
            {% else %}
            <!-- <label style="position:relative;left:85px;top:-14px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Request Access</label> -->
            <form action="{% url 'signup_trac' %}">
            <input type="number" name="id" id="txt10" value='10' hidden><br>
            <input type="submit" value="Learn More" id="button_signup" onclick="getTxt10() " />
            </form>
            {% endif %}

        </div><!-- 10 -->

        <div id="11" style="border:1px solid black;height:260px;width:300px;position: relative;left:560px;top:-1944px;"><!-- 11 -->

            <label style="position:relative;left:51px;font-weight: bold;font-size: 19px;">AI Informed Fracking</label><br>
            <label style="position:relative;left:22px;font-size: 18px;">AI informed fracking operations</label><br>
            <label style="position:relative;left:40px;font-size: 18px;">to reduce operational risks</label><br>
            <img src="{% static 'smart frac.PNG' %}" alt="architecture" style="height:160px;width:280px;position:relative;left:10px;" ><br>

            {% if user.id == current_user_index and  app7 %}
            <!-- <a href="/chart" style="position:relative;left:50px;font-weight: bold;">Click to Access</a> -->
            <a href="/chart" style="position:relative;left:85px;top:-14px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Click to Access</a>
            {% else %}
            <!-- <label style="position:relative;left:85px;top:-14px;font-weight: bold; color: black; text-decoration: none;font-size: 20px;">Request Access</label> -->
            <form action="{% url 'signup_trac' %}">
            <input type="number" name="id" id="txt11" value='11' hidden><br>
            <input type="submit" value="Learn More" id="button_signup" onclick="getTxt11() " />
            </form>
            {% endif %}

        </div><!-- 11 -->




        
        
    </div><!-- main -->







{% endif %}
<script>

        function getTxt(){
            var txtValue = document.getElementById('txt').value;
            localStorage.setItem("passValue",txtValue);

        }
        function getTxt2(){
            var txtValue = document.getElementById('txt2').value;
            localStorage.setItem("passValue",txtValue);

        }
        function getTxt3(){
            var txtValue = document.getElementById('txt3').value;
            localStorage.setItem("passValue",txtValue);

        }
        function getTxt4(){
            var txtValue = document.getElementById('txt4').value;
            localStorage.setItem("passValue",txtValue);

        }
        function getTxt5(){
            var txtValue = document.getElementById('txt5').value;
            localStorage.setItem("passValue",txtValue);

        }
        function getTxt6(){
            var txtValue = document.getElementById('txt6').value;
            localStorage.setItem("passValue",txtValue);

        }
        function getTxt7(){
            var txtValue = document.getElementById('txt7').value;
            localStorage.setItem("passValue",txtValue);

        }
        function getTxt8(){
            var txtValue = document.getElementById('txt8').value;
            localStorage.setItem("passValue",txtValue);

        }
        function getTxt9(){
            var txtValue = document.getElementById('txt9').value;
            localStorage.setItem("passValue",txtValue);

        }
        function getTxt10(){
            var txtValue = document.getElementById('txt10').value;
            localStorage.setItem("passValue",txtValue);

        }
        function getTxt11(){
            var txtValue = document.getElementById('txt11').value;
            localStorage.setItem("passValue",txtValue);

        }
</script>
    
    
    
</body>

</html>

















