{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>index six</h1>
<img src="{% static 'phool6.jpg' %}" alt=""> <br>

    <form action="/index_six" method="post">
    {%csrf_token%}
    <label for="">Report</label><br>
    <input type="file" name="csv" id="csv" placeholder="Submit your file here" >
    <button type="submit"> Submit</button>
    </form>

{{tt}} <br>
{{chart_bar|safe}}



</body>
</html>