<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <style>
    
    body{
        background-color: rgb(247, 201, 103);
    }
    .full{
        height: 100px;
        width: 500px;
        align-items: center;
        text-align: center;
        position: relative;
        left: 400px;
        border-width: 4px;
        border-style: double;
        border-color: black;
    }
    
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="full">
      {% block content %}
      <div>
       <br>   
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>  <br> 
        <a href="/secure">List of Blocks</a>      
  
      </div>
      
  <br><br><br><br>
  {{ chart_line|safe }} <br>
  
  
  
  {% endblock content %}
</div>
</body>
</html> 








