<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(11, 192, 93)">
    <h1>Welcome to the secured page</h1>
    {% csrf_token %}

    
    
{% if user.is_authenticated %}

<h3 style="background-color: rgb(17, 148, 165); color: rgb(131, 16, 16); font-size: larger;font-family: 'Times New Roman', Times, serif;font-weight: bolder;"> Hello how are you Mr. {{user.username}} </h3>
    
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
  </li>
  




  {% comment %} one {% endcomment %}
  <div style="height: 350; width:80;   border:tomato; margin: right 500px; margin:top 100px; position: static; border: 3px solid #73AD21;">
    {% if user.username == 'indi' and  app1 %}
    <a href="/chart">
      <img border="4" src="{% static "phool_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 10px; top 10px; position: relative;">
      </a> 
    {% endif %}

    {% if user.username == 'indi' and  app2 %}
    <a href="/ds_two">
      <img border="4" src="{% static "phool2_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 50px; top 10px; position: relative;">
      </a>
    {% endif %}

    {% if user.username == 'indi' and  app3 %}
    <a href="/ds_three">
      <img border="4" src="{% static "phool3_.jpg" %}" width="120" height="120" style=" padding-right: 20px; padding-left: 20px; left 90px; top 10px; position: relative;">
      </a>
    {% endif %}

    {% if user.username == 'indi' and  app4 %}
    <a href="/index_four">
      <img border="4" src="{% static "phool4_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 130px; top 10px; position: relative;">
      </a> 
    {% endif %}
    </div> 
    
    

    <div style="height: 350; width:80;   border:tomato; margin: right 500px; margin:top 900px; border: 3px solid #73AD21;">

    {% if user.username == 'indi' and  app5 %}
    <a href="/index_five">
      <img border="4" src="{% static "phool5_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 10px; top 60px; position: relative;">
      </a> 
    {% endif %}

    {% if user.username == 'indi' and  app6 %}
    <a href="/index_six">
      <img border="4" src="{% static "phool6_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 50px; top 60px; position: relative;">
      </a>
    {% endif %}

    {% if user.username == 'indi' and  app7 %}
    <a href="/index_seven">
      <img border="4" src="{% static "phool7_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 90px; top 60px; position: relative;">
      </a> 
    {% endif %}

    {% if user.username == 'indi' and  app8 %}
    <a href="/index_eight">
      <img border="4" src="{% static "phool8_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 130px; top 60px; position: relative;">
      </a> 
    {% endif %}
    </div> 













    {% comment %} two {% endcomment %}
    <div style="height: 350; width:80;   border:tomato; margin: right 500px; margin:top 100px; position: static; border: 3px solid #73AD21;">
      {% if user.username == 'jesse' and  ipp1 %}
      <a href="/chart">
        <img border="4" src="{% static "phool_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 10px; top 10px; position: relative;">
        </a> 
      {% endif %}
  
      {% if user.username == 'jesse' and  ipp2 %}
      <a href="/ds_two">
        <img border="4" src="{% static "phool2_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 50px; top 10px; position: relative;">
        </a>
      {% endif %}
  
      {% if user.username == 'jesse' and  ipp3 %}
      <a href="/ds_three">
        <img border="4" src="{% static "phool3_.jpg" %}" width="120" height="120" style=" padding-right: 20px; padding-left: 20px; left 90px; top 10px; position: relative;">
        </a>
      {% endif %}
  
      {% if user.username == 'jesse' and  ipp4 %}
      <a href="/index_four">
        <img border="4" src="{% static "phool4_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 130px; top 10px; position: relative;">
        </a> 
      {% endif %}
      </div> 
      
      
  
      <div style="height: 350; width:80;   border:tomato; margin: right 500px; margin:top 900px; border: 3px solid #73AD21;">
  
      {% if user.username == 'jesse' and  ipp5 %}
      <a href="/index_five">
        <img border="4" src="{% static "phool5_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 10px; top 60px; position: relative;">
        </a> 
      {% endif %}
  
      {% if user.username == 'jesse' and  ipp6 %}
      <a href="/index_six">
        <img border="4" src="{% static "phool6_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 50px; top 60px; position: relative;">
        </a>
      {% endif %}
  
      {% if user.username == 'jesse' and  ipp7 %}
      <a href="/index_seven">
        <img border="4" src="{% static "phool7_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 90px; top 60px; position: relative;">
        </a> 
      {% endif %}
  
      {% if user.username == 'jesse' and  ipp8 %}
      <a href="/index_eight">
        <img border="4" src="{% static "phool8_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 130px; top 60px; position: relative;">
        </a> 
      {% endif %}
    </div>













    {% comment %} three {% endcomment %}
    <div style="height: 350; width:80;   border:tomato; margin: right 500px; margin:top 100px; position: static; border: 3px solid #73AD21;">
      {% if user.username == 'jrao' and  jpp1 %}
      <a href="/chart">
        <img border="4" src="{% static "phool_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 10px; top 10px; position: relative;">
        </a> 
      {% endif %}
  
      {% if user.username == 'jrao' and  jpp2 %}
      <a href="/ds_two">
        <img border="4" src="{% static "phool2_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 50px; top 10px; position: relative;">
        </a>
      {% endif %}
  
      {% if user.username == 'jrao' and  jpp3 %}
      <a href="/ds_three">
        <img border="4" src="{% static "phool3_.jpg" %}" width="120" height="120" style=" padding-right: 20px; padding-left: 20px; left 90px; top 10px; position: relative;">
        </a>
      {% endif %}
  
      {% if user.username == 'jrao' and  jpp4 %}
      <a href="/index_four">
        <img border="4" src="{% static "phool4_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 130px; top 10px; position: relative;">
        </a> 
      {% endif %}
      </div> 
      
      
  
      <div style="height: 350; width:80;   border:tomato; margin: right 500px; margin:top 900px; border: 3px solid #73AD21;">
  
      {% if user.username == 'jrao' and  jpp5 %}
      <a href="/index_five">
        <img border="4" src="{% static "phool5_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 10px; top 60px; position: relative;">
        </a> 
      {% endif %}
  
      {% if user.username == 'jrao' and  jpp6 %}
      <a href="/index_six">
        <img border="4" src="{% static "phool6_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 50px; top 60px; position: relative;">
        </a>
      {% endif %}
  
      {% if user.username == 'jrao' and  jpp7 %}
      <a href="/index_seven">
        <img border="4" src="{% static "phool7_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 90px; top 60px; position: relative;">
        </a> 
      {% endif %}
  
      {% if user.username == 'jrao' and  jpp8 %}
      <a href="/index_eight">
        <img border="4" src="{% static "phool8_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 130px; top 60px; position: relative;">
        </a> 
      {% endif %}
      </div>















      {% comment %} four {% endcomment %}
      <div style="height: 350; width:80;   border:tomato; margin: right 500px; margin:top 100px; position: static; border: 3px solid #73AD21;">
        {% if user.username == 'pankaj' and  ppp1 %}
        <a href="/chart">
          <img border="4" src="{% static "phool_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 10px; top 10px; position: relative;">
          </a> 
        {% endif %}
    
        {% if user.username == 'pankaj' and  ppp2 %}
        <a href="/ds_two">
          <img border="4" src="{% static "phool2_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 50px; top 10px; position: relative;">
          </a>
        {% endif %}
    
        {% if user.username == 'pankaj' and  ppp3 %}
        <a href="/ds_three">
          <img border="4" src="{% static "phool3_.jpg" %}" width="120" height="120" style=" padding-right: 20px; padding-left: 20px; left 90px; top 10px; position: relative;">
          </a>
        {% endif %}
    
        {% if user.username == 'pankaj' and  ppp4 %}
        <a href="/index_four">
          <img border="4" src="{% static "phool4_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 130px; top 10px; position: relative;">
          </a> 
        {% endif %}
        </div> 
        
        
    
        <div style="height: 350; width:80;   border:tomato; margin: right 500px; margin:top 900px; border: 3px solid #73AD21;">
    
        {% if user.username == 'pankaj' and  ppp5 %}
        <a href="/index_five">
          <img border="4" src="{% static "phool5_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 10px; top 60px; position: relative;">
          </a> 
        {% endif %}
    
        {% if user.username == 'pankaj' and  ppp6 %}
        <a href="/index_six">
          <img border="4" src="{% static "phool6_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 50px; top 60px; position: relative;">
          </a>
        {% endif %}
    
        {% if user.username == 'pankaj' and  ppp7 %}
        <a href="/index_seven">
          <img border="4" src="{% static "phool7_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 90px; top 60px; position: relative;">
          </a> 
        {% endif %}
    
        {% if user.username == 'pankaj' and  ppp8 %}
        <a href="/index_eight">
          <img border="4" src="{% static "phool8_.jpg" %}" width="120" height="120" style="padding-right: 20px; padding-left: 20px; left 130px; top 60px; position: relative;">
          </a> 
        {% endif %}
        </div>





{% endif %}

</body>
</html>